<!DOCTYPE HTML>
<html>
	<head>
		<title>not-found</title>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 class="text-center"> Página não encontrada!</h1>
			</div>
			<h2 class="text-center"> 
				<a href="/"><input type="button" value="Voltar para o Chat"></a>
			</h2>
		</div>
	</body>
</html>
