<!DOCTYPE html>
<html>
	<head>
		<title>server-error</title>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
	</head>
	<body>
		<header>
			<h1>500</h1>
			<h4>Aconteceu algo terrível! Internal Server Error</h4>
			
			<a href="/"><input type="button" value="Voltar para o Chat"></a>
		</header>
	</body>
</html>